<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1 class="text-center title-1"> Search Airline </
h1>
    <form action="/search" method="post">
        <p>IATA Code:<input type="text" name="iata_code" /></p>
        <p><input type="submit" value="Pesquisar" /></p>
    </form>
</body>
</html>