<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<h1 class="text-center title-1"> Todos os Users </h1>
<ul>
 <% userlist.forEach(function(user){ %>
<li><%= user.username %></a></li>
 <%})%>
</ul>
</body>
</html>